.Chrono {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chronometer {
    display: block;
    font-size: 7em;
    font-family: 'Roboto', sans-serif;
}

button {
    height: 2em;
    width: 6em;
    font-size: 2em;
    margin: 10px;
    border: grey 1px solid;
    border-radius: 5px;
}

.control {
    display: flex;
    flex-direction: row;
}

.stop {
    background-color: #e73d3d;
    color: white;
}

.stop:disabled {
    background-color: #663939;
    color: grey;
}

.start {
    background-color: #37d71b;
    color: white;
}

.start:disabled {
    background-color: #365a31;
    color: grey;
}